@charset "UTF-8";
/* CSS Document */

*{
    font-family:'Microsoft YaHei';
}
a.main_page_a {
	color: unset;
	text-decoration: none;
}
html {
    color: #000;
    overflow-y: scroll;
    height: 100%;
}
body {
	background-color: #fff;
    height: 100%;
    min-width: 1000px;
    cursor: default;
    margin: 0;
}
#main_page_content {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 700px;
    cursor: default;
}

.center_wrap {
    position: relative;
    height: 40%;
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
}

#edms_logo {
	display: flex;
    height: 60%;
    min-height: 200px;
    position: relative;
    z-index: 0;
	margin-top: 10%;
    text-align: center;
}
#edms_logo > img {
    position: absolute;
	width: 50%;
	height: auto;
    bottom: 10%;
    left: 25%;
}

#query_selection_list {
    width: 720px;
    margin: 0 auto;
    overflow: hidden;
}
#query_selection_list > ul {
    padding-left: 0;
    overflow: hidden;
    margin: 0;
}
#query_selection_list > ul > li {
    list-style: none;
    display: inline-block;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    width: 80px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
}
#query_selection_list ul > li > a {
    cursor: pointer;
    color: #000;
    font-size: 14px;
}
/* 鼠标悬浮在选项上，背景颜色改变 */
#query_selection_list ul > li:hover {
    background-color: #87cefa;
}
/* 选项点击后，背景颜色改变 */
#query_selection_list ul .active {
    cursor: default;
    background-color:  #000 !important;
}
/* 选项点击后，字体颜色改变 */
#query_selection_list ul .active a {
    color: #fff;
}

#query_group {
    width: 720px;
    margin: 0 auto;
    overflow: hidden;
}
#query_input {
    width: 580px;
    height: 40px;
    border: 1px solid #6495ed;
    padding-left: 5px;
    display: inline-block;
    vertical-align: top;
    float: left;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
#query_button {
	display: inline-block;
	width: 60px;
    height: 40px;
    background-color: #87cefa;
	background-image: url(../image/search_icon.png);
	background-origin: inherit;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: scroll;
    border: 1px solid #6495ed;
    vertical-align: top;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
#query_button > img {
	position: absolute;
	z-index: -1;
}


.query_type_button_normal {
	display: inline-block;
	width: 80px;
    height: 40px;
    background-color: #87cefa;
    border: 1px solid #6495ed;
    vertical-align: top;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	font-size: 14px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
.query_type_button_advanced {
	display: inline-block;
	width: 80px;
    height: 40px;
    background-color: #87cefa;
    border: 1px solid #6495ed;
    vertical-align: top;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
	font-size: 14px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}


#hot_words {
    width: 720px;
    margin: auto;
}
#hot_words > ul {
    padding-left: 0;
}
#hot_words > ul > li {
    list-style-type: none;
    display: inline-block;
    color: #aaa;
	margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
}
#hot_words > ul > li > a {
    font-size: 14px !important;
    color: #aaa !important;
}
#hot_words > ul .active {
    font-weight: bold;
    color: #19458b;
    font-size: 14px;
}
#hot_words > ul .active a {
    font-size: 14px !important;
    color: #222222 !important;
}
#hot_words ul li a {
    font-weight: normal;
}


#advanced_input_list {
	width: 720px;
    margin: auto;
}
.input_left {
	float: left;
	width: 360px;
}
.input_left > p {
	color: #111;
	font-weight: 600;
	font-size: 14px;
}
.input_left > input {
	width: 320px;
}
.input_right {
	float: right;
	width: 360px;
}
.input_right > p {
	color: #111;
	font-weight: 600;
	font-size: 14px;
}
.input_right > input {
	width: 320px;
}


.researcher_result_name > p {
	font-size: 14px;
	color: #2936C4;
}

/*
#information_group {
    width: 800px;
    margin: 80px auto 0 auto;
    vertical-align: bottom;
    overflow: hidden;
    color:#222222;
}
#information_group img {
    vertical-align: bottom;
}
#information_group .head {
    font-size: 21px;
}
#information_group .count {
    font-size: 21px;
    display: block;
}


#people_banner {
    display: inline-block;
    width: 200px;
    margin-right: 100px;
    text-align: center;
    float: left;
    background: url(../images/index/bg.png) 200px 100px;
    height: 100px;
    padding: 20px 0;
}
#field_banner {
    display: inline-block;
    width: 200px;
    margin-right: 100px;
    text-align: center;
    float: left;
    background: url(../images/index/bg.png) 200px 100px;
    height: 100px;
    padding: 20px 0;
}
#organization_banner {
    display: inline-block;
    width: 200px;
    text-align: center;
    float: left;
    background: url(../images/index/bg.png) 200px 100px;
    height: 100px;
    padding: 20px 0;
}
*/

#edms_footer {
    width: 100%;
    text-align: center;
    position: fixed;
	bottom: 1%;
}
#edms_footer > p:first-child {
	font-size: 12px;
    color: #222222 !important;
}
#edms_footer > p:last-child {
	font-size: 10px;
    color: #444444 !important;
}